@charset "UTF-8";
.menu-form{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.menu-packet{
    background-color: #fff;
    padding : 0 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    border-radius: 10px;
    font-family: serif;
    font-weight: bold;
    border: 1px solid rgb(143, 143, 143);
    box-shadow: 1px 1px 1px 1px rgba(54, 54, 54, 0.2), 1px 1px 1px rgba(84, 84, 84, 0.2);
}

.menu-form .menu-packet a{
    line-height: 50px;
    border-bottom: 1px solid rgb(114, 114, 114);
    color: rgb(60, 60, 60);
}

.menu-form .menu-packet a:last-child{
    border-bottom:none;
}

.menu-form header{
    text-align: center;
    font-size: 25px;
    background-color: red;
    margin-top: 10px;
    line-height: 40px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
